
@{
    ViewData["Title"] = "Donate";
}

@{
    Layout = "";
}



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Donate</title>
  <meta name="description" content="Crowdfunding Savings Accounts for Every Child" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="/assets/images/logo.png">
  <meta name="apple-mobile-web-app-title" content="Zeus">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="/favicon.ico">
  
  <!-- style -->
  <link rel="stylesheet" href="/css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/material-design-icons/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <!-- build:css /assets/styles/app.min.css -->
  <link rel="stylesheet" href="/assets/styles/app.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/assets/styles/font.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900" rel="stylesheet">
  <!-- jQuery -->
  <script src="/libs/jquery/jquery/dist/jquery.js" type="text/javascript"></script>
<!-- Bootstrap -->
  <script src="/libs/jquery/tether/dist/js/tether.min.js" type="text/javascript"></script>
  <script src="/libs/jquery/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<!-- core -->
  <script src="/libs/jquery/underscore/underscore-min.js" type="text/javascript"></script>
  <script src="/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js" type="text/javascript"></script>
  <script src="/libs/jquery/PACE/pace.min.js" type="text/javascript"></script>
  <script src="/libs/jquery/parsleyjs/dist/parsley.js" type="text/javascript"></script>
  
  <script src="/libs/jquery/jquery-match-height/jquery.matchHeight.js" type="text/javascript"></script>
  <!--Vue.js-->
    <script src="https://unpkg.com/vue" type="text/javascript"></script>    
</head>
<body style=" margin:0 auto">
    @Html.Partial("_MainHeader")
    <div class="app center" id="app">

        <!-- ############ LAYOUT START-->
        <div id="vue">
            <!-- content -->
            <div id="content" class="app-content box-shadow-z0 white" role="main">
            </div>

            <div class="app-body white" id="view" style="padding-top: 0">

                <!-- ############ PAGE START-->
                <div style="padding: 2.5rem; margin-top:50px; padding-top: 4rem">
                    <div class="box b-a" style="border:2px solid lightgrey">
                        <div class="row-col">
                            <div class="col-sm-3" id="sponsor-col b-a" style="position: relative; background-color:#f0f0f0; border: 1px solid lightgrey">
                                <div class="p-a-lg pos-rlt" style="padding-bottom:20px !important; padding-top: 60px !important; text-align:center;">
                                    <img src="/assets/images/NoraWesClose-min.JPG" class="img-circle avatar " style="width: 175px; height: 175px; object-fit: cover;">
                                    <br><br><br>
                                    <div><h2> Baby Kuykendall</h2></div>
                                </div>
                                <div id="detail-box" class="padding pos-rlt" style="padding-left: 50px; border:none !important">
                                    <div id="details">

                                        <div class="list-left _500">
                                            Due Date
                                        </div>
                                        <div class="list-body _500" style="margin-left:45%; color:#4f87b8">
                                            6/6/2017
                                        </div>
                                        <div class="list-left _500 ">
                                            Location
                                        </div>
                                        <div class="list-body _500" style="margin-left:45%; color:#4f87b8">
                                            Los Angeles, CA
                                        </div>
                                        <div class="list-left _500">
                                            Parent
                                        </div>
                                        <div class="list-body _500" style="margin-left:45%; color:#4f87b8">
                                            Noramay Cadena
                                        </div>
                                        <div class="list-left _500">
                                            Parent
                                        </div>
                                        <div class="list-body _500" style="margin-left:45%; color:#4f87b8">
                                            Wes Kuykendall
                                        </div>
                                        <br>


                                    </div>

                                </div>
                                <div class="padding no-borders" style="border:none !important; text-align:center">
                                    <a href="/user/@Model.Slug">
                                        <span class="btn rounded btn-outline text-xs _600 white" style="border:1px solid #4f87b8">
                                            Return to Profile
                                        </span>
                                        <span class="hidden-sm-up ">
                                            <i class="fa fa-search" style="color:white">&#xe7fd;</i>
                                        </span>
                                    </a>
                                </div>

                            </div>

                            <div class="padding">
                                <h3 style="text-align:center; color:#4f87b8">Make a Donation</h3>

                                <br>
                                <!--Hidden Form-->
                                <form asp-action="Donate" data-parsley-validate asp-controller="Home" ui-jp="parsley">
                                    <div class="col-sm-12">

                                        <div class="box b-a padding" style="background-color:#f0f0f0">
                                            <div class="box-header">
                                                <h6 style="text-align:center; color:#4f87b8">Personal Information </h6>
                                                <!--<a class="pull-right text-info text-xs" style="margin-top:-20px" onclick="$('#fb-login').click()">
                                                    Login with Facebook
                                                </a>-->
                                            </div>
                                            <div class="box-body">

                                                <div class="row m-b">
                                                    <div class="input-group m-b col-sm-6 text-xl" style="height: 75px">
                                                        <span class="input-group-addon white" style="color: grey; font-size: 2rem">$</span>
                                                        <input type="text" required data-parsley-min="1" data-parsley-type="integer" class="form-control parsley-success has-value" value=""
                                                               class="form-control text-sm" style="height: 75px; font-size: 2rem; border-radius: 0px !important" placeholder="0">
                                                        <span class="input-group-addon white pos-rlt" style="color: grey; font-size: 2rem">
                                                            .00
                                                        </span>

                                                    </div>
                                                </div>

                                                <div class="row m-b">
                                                    <input type="text" style="display:none">
                                                    <!--Prompt for First/Last ONLY if user record does not already contain  - add asp-for when form has first/last capability-->
                                                    <div v-if="user.FirstName">
                                                        <div class="col-sm-6">
                                                            <input type="text" v-cloak style="visibility:hidden" class="form-control parsley-success has-value text-sm" disabled v-bind:placeholder="user.FirstName">
                                                        </div>
                                                        <div class="col-sm-6">

                                                            <input type="text" v-cloak style="visibility:hidden" class="form-control parsley-success has-value text-sm" disabled v-bind:placeholder="user.LastName">
                                                        </div>
                                                    </div>
                                                    <div v-else>
                                                        <div class="col-sm-6">
                                                            @*<input type="text" asp-for="FirstName" v-cloak style="visibility:hidden" class="form-control parsley-success has-value text-sm" required placeholder="First Name">*@
                                                            <input type="text" v-cloak style="visibility:hidden" class="form-control parsley-success has-value text-sm" required placeholder="First Name">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            @*<input type="text" asp-for="LastName" v-cloak style="visibility:hidden" class="form-control parsley-success has-value text-sm" required placeholder="Last Name">*@
                                                            <input type="text" v-cloak style="visibility:hidden" class="form-control parsley-success has-value text-sm" required placeholder="Last Name">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div v-if="user.LastName">
                                                        </div>
                                                        <div v-else>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <!--<div class="checkbox p-l">
                                                        <div>
                                                            <label class="ui-check text-muted">
                                                                <input type="checkbox" name="check"><i class="white"></i> Hide name from everyone except the organizer</a>
                                                            </label>
                                                        </div>
                                                    </div>-->
                                                    <!--<input type="email" class="form-control text-sm" placeholder="Email Address" required>-->
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12">

                                        <div class="box b-a padding" style="background-color:#f0f0f0">
                                            <div class="box-header">
                                                <h6 style="text-align:center; color:#4f87b8">Payment Information </h6>
                                            </div>
                                            <div class="box-body">
                                                <!--Credit Card-->
                                                <div v-if="model.HasCreditCard && !newCard" class="row m-b">
                                                    <div class="col-sm-4">
                                                        <label for="cardId" class="text-muted">Use Existing Card</label>
                                                        @*<select v-model="model.CardId" id="cardSelect" asp-for="CardId" class="form-control select2" ui-jp="select2" placeholder="Use Existing Card" v-cloak style="visibility:hidden" data-parsley-required>
                                                                <option v-for="(id, last4) in model.CardMetaData" v-bind:value="id" title="use existing card">Card Ending In: {{last4}}</option>
                                                                </div>
                                                            </select>*@
                                                    </div>



                                                    @*<input type="text" style="display:none" asp-for="isUsingExistingCard" value=true>*@
                                                    <input type="text" style="display:none" value=true>
                                                </div>
                                                <div v-if="model.HasCreditCard && !newCard" v-cloak style="visibility:hidden">
                                                    <a v-on:click="newCard=true" class="btn rounded text-xs primary m-b">Use a New Card</a>
                                                </div>
                                                <div v-if="model.HasCreditCard && newCard" v-cloak style="visibility:hidden">
                                                    <a v-on:click="newCard=false" class="btn rounded text-xs primary m-b">Use an existing card</a>
                                                </div>
                                                @*<input type="text" style="display:none" asp-for="isUsingExistingCard" value=newCard>*@
                                                <input type="text" style="display:none" value=newCard>
                                                <div v-if="!model.HasCreditCard || newCard" v-cloak style="visibility:hidden">
                                                    <div class="row m-b">
                                                        <div class="col-sm-12">
                                                            <!--CC validation TODO: custom duplicate validation (parsley)-->
                                                            @*<input type="text" asp-for="Number" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"*@
                                                            <input type="text" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"
                                                                   class="form-control parsley-success has-value text-sm" required placeholder="New Credit Card">
                                                        </div>
                                                    </div>

                                                    <div class="row m-b">
                                                        <!--Exp-->
                                                        <div class="col-sm-3">
                                                            @*<input type="text" asp-for="ExpirationMonth" class="form-control parsley-success has-value text-sm" required placeholder="Exp. Month">*@
                                                            <input type="text" class="form-control parsley-success has-value text-sm" required placeholder="Exp. Month">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            @*<input type="text" asp-for="ExpirationYear" class="form-control parsley-success has-value text-sm" required placeholder="Exp. Year">*@
                                                            <input type="text" class="form-control parsley-success has-value text-sm" required placeholder="Exp. Year">
                                                        </div>
                                                        <!--Zip-->
                                                        <div class="col-sm-3">
                                                            <input type="text" minlength="5" class="form-control parsley-success has-value text-sm" required placeholder="Zip Code">
                                                        </div>
                                                        <!--CCV-->
                                                        <div class="col-sm-3 ">
                                                            @*<input type="text" asp-for="Cvc" data-parsley-type="number" maxlength="4" min="3" class="form-control parsley-success has-value text-sm" required placeholder="CCV">*@
                                                            <input type="text"  data-parsley-type="number" maxlength="4" min="3" class="form-control parsley-success has-value text-sm" required placeholder="CCV">
                                                        </div>

                                                    </div>

                                                    <!--<div class="form-group">
                                                        <form action="api/dropzone">
                                                            <div class="dz-message white box padding" style="border: 1px solid rgba(120, 130, 140, 0.2); border-radius: 5px; height: 150px" ui-jp="dropzone" ui-options="{ url: 'api/dropzone' }">
                                                                <span class="block m-b-lg" style="color: grey"> Attach a memory to your donation... Click or Drag and Drop files here to upload(demo)</span>
                                                            </div>
                                                        </form>

                                                        <div class="checkbox p-l">
                                                            <div>
                                                                <label class="ui-check text-muted">
                                                                    <input type="checkbox" name="check2"><a><i class="white"></i> Share to Facebook</a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                </div>




                                                <div class="p-a text-right">
                                                    <!--<button type="submit" class="btn rounded text-xs" style="padding-left:35px; padding-right: 35px; background-color:#6DBF13; color:white">Donate</button>-->
                                                    <button type="submit" value="Donate" class="btn rounded text-xs" style="padding-left:35px; padding-right: 35px; background-color:#6DBF13; color:white">Donate</button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </form>
    </div>
    </div>
    </div>
    <!--/Form-->

    </div>
    </div>
    </div>
</div>
    <!-- ############ LAYOUT END-->

    @{
        @*var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count >0)
            {
                <form asp-controller="Account"asp-action="ExternalLogin" asp-route-returnurl='@ViewData["ReturnUrl"]' method="post" class="form-horizontal" style="display:none">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default"  id="fb-login" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }*@
    }


    <style>

        * {
            font-weight: 500;
        }

        h1, h3, h4, h5, h6 {
            font-weight: bold;
        }

        h4 {
            font-size: 14pt;
        }

        .list-item {
            margin-bottom: 3px;
        }

        #sponsor-col .list-left {
            padding-right: 10px;
        }

        #sponsor-col * {
            background-color: #f0f0f0;
            margin-top: -20px !important;
            margin-bottom: 0 !important;
        }

        img {
            object-fit: cover;
        }

        .rt-list > li {
            margin-top: 20px;
        }

        #details * {
            line-height: 28px;
        }

        .pagination li * {
            margin: 0 10px;
        }

        .pagination a {
            width: 34px;
        }

        .sponsor-grid div {
            margin-bottom: 20px;
        }

        #sponsorModal {
            font-family: "nunito-regular";
        }

        .ui-check input:checked + i:before {
            background-color: #4f87b8;
        }

        input {
            height: 50px;
            border-radius: 5px !important;
        }

        detail-box, ::after, ::before {
            border-bottom: 0 !important;
        }
    </style>

    <!-- build:js scripts/app.html.js -->


    <script src="/scripts/config.lazyload.js" type="text/javascript"></script>

    <script src="/scripts/palette.js" type="text/javascript"></script>
    <script src="/scripts/ui-load.js" type="text/javascript"></script>
    <script src="/scripts/ui-jp.js" type="text/javascript"></script>
    <script src="/scripts/ui-include.js" type="text/javascript"></script>
    <script src="/scripts/ui-device.js" type="text/javascript"></script>
    <script src="/scripts/ui-form.js" type="text/javascript"></script>
    <script src="/scripts/ui-nav.js" type="text/javascript"></script>
    <script src="/scripts/ui-screenfull.js" type="text/javascript"></script>
    <script src="/scripts/ui-scroll-to.js" type="text/javascript"></script>
    <script src="/scripts/ui-toggle-class.js" type="text/javascript"></script>

    <script src="/scripts/app.js" type="text/javascript"></script>

    <!-- ajax -->
    <script src="/libs/jquery/jquery-pjax/jquery.pjax.js" type="text/javascript"></script>
    <script src="/scripts/ajax.js" type="text/javascript"></script>
    <script type="text/javascript">

    @*var userArr = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@UserManager.Users.Where(x => x.UserName == Context.User.Identity.Name)) as Object);*@
    var user = userArr[0]
    @*var jsModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model) as Object)*@
    var vm = new Vue({
        el: '#vue',
        data: {
            model: jsModel,
            newCard: false,
            user: user
        },
        methods: {
            loaded(){
                console.log('loaded Vue.');
                console.log(this._data)
                console.log(user)
            },
            testKeys(){
            console.log('keys: ', Object.keys(this.model.CardMetaData))
            }
        },
        created: function(){
            this.loaded();
            console.log("model.HasCreditCard: ", this.model.HasCreditCard)
            console.log("newCard: ", this.newCard)
            $('[v-cloak]').css("visibility", "visible")

        }
    });
    if (jsModel.ErrorMessage != null) {
            alert(jsModel.ErrorMessage);
    }

    //TODO: Custom Duplicate Card Validation
    /* window.Parsley
    .addValidator('duplicateOf', {
        requirementType: 'array',
        validateNumber: function(value, requirement) {
            var dupe = false;
            var existingCardsArr = Object.keys(jsModel.CardMetaData)
            if(existingCardsArr.indexOf(value.toString()) < 0){
                return true
            }
            return false
        },
        messages: {
        en: 'This card is already connected to your account',
        }
    }); */


    </script>

    <!-- endbuild -->
</body>
</html>
